
.credit-rate-wrapper {
  border-radius: 16px;
  border: 1px solid #ebedf1;
  background: #fff;
  padding: 16px;
}

.rate-wrapper {
  border-radius: 16px;
  border: 1px solid #ebedf1;
  background: #fff;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.rate-title h6 {
  color: #0e285e;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 0px;
}

.rates {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rates h6 {
  color: #67779a;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 0px;
}

.rates span,
.rates input {
  color: #0e285e;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
}

.credit-rates {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.custom-credit-rates {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.rates input {
  padding: 6px 10px;
  border-radius: 12px;
  border: 1px solid #dee2e9;
  color: #0e285e;
  font-size: 14px;
  font-weight: 400;
  width: 80px;
}

.rates input:focus-visible {
  outline: none;
}

.select-customer {
  padding: 12px 12px 12px 12px;
  border-radius: 12px;
  border: 1px solid #dee2e9;
  color: #67779a;
  font-size: 12px;
  font-weight: 400;
  background-image: url("../images/dropdown-arrow.svg");
  background-size: 18px 18px;
}