.lead-details-header {
  display: flex;
  font-size: 16px;
  color: #0e285e;
  font-weight: 600;
}

.lead-details-header h5 {
  margin-bottom: 0px;
}

.lead-details-view-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-label-details {
  color: #67779a;
  /* color: #001747; */
  font-size: 12px;
  font-weight: 400;
}

.lead-details-view-form span {
  font-size: 14px;
  color: #0e285e;
  font-weight: 600;
}
.lead-details-div1 {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  justify-content: space-between;
}

.lead-search {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search-lead-buttons {
  display: flex;
  gap: 16px;
}
