.plans-div {
    border-radius: 24px;
    border: 1px solid #EBEDF1;
    background-color: #FFF;
    padding: 16px;
}

.plan-details-wrapper {
      border-radius: 16px;
    border: 1px solid #EBEDF1;
    background-color: #FFF;
   
}
.plan-heading {
    
}