@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans";
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}


.heading h4 {
  color: #0e285e;
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 0px;
}


.Sign-in-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.brand-logo {
  display: flex;
  justify-content: center;
}

.brand-logo img {
  height: 50px;
}

.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  min-width: 400px;
  border-radius: 16px;
  border: 1px solid var(--Neutrals-Neutral-200, #DEE2E9);
  background: var(--White, #FFF);
  padding: 24px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

}




/* Input form Style */

.sign-form-input {
  border-radius: 12px;
  border: 1px solid #dee2e9;
  color: #001747;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  padding: 16px;
  width: 100%;
}

.sign-form-input:focus {
  color: #001747;
  border: 1px solid #246bfd;
}

.sign-form-input:focus-visible {
  border: 1px solid #246bfd !important;
}

.input-dropdown {
  color: #67779a !important;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.form-control:focus {
  color: #001747;
  border-color: #dee2e9;
  outline: 0;
  box-shadow: none !important;
}

/* Label style after Input feild is in focus. Can also use input:focus ~ label to select sibling. */

input:focus+label,
input:not(:placeholder-shown)+label {
  font-size: 16px;
  color: #0e285e;
  top: -10px;
  left: 10px;
  background: #ffffff;
  padding: 0px 5px 0px 5px;
}

.input_wrap {
  width: auto;
  height: auto;
  position: relative;
}

.input_wrap label {
  font-family: arial;
  font-size: 16px;
  color: #67779a;
  padding: 18px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  pointer-events: none;
}

.sign-in-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.sign-in-form-input:focus {
  outline: none;
  border: 1px solid #67779a !important;
  box-shadow: none !important;
}

.form-heading-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.form-heading-text h4 {
  color: #0e285e;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}

.form-heading-text p {
  color: #67779a;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.forget-pass a {
  color: #246bfd;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: underline;
}

.form-select:focus {
  border-color: #dee2e6 !important;
  outline: 0;
  box-shadow: none !important;
}

.keep-logged-in-text {
  color: #0e285e;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.form-check-input:focus {
  border-color: #67779a !important;
  outline: none !important;
  box-shadow: none !important;
}

.sign-in-btn {
  border-radius: 12px;
  background: #e94b50;
  padding: 16px 8px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
}

.horizontal-line {
  display: flex;
  align-items: center;
  gap: 10px;
}

.line {
  height: 2px;
  background-color: #ebedf1;
  width: 100%;
}

.OR {
  color: #6e6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.Sign-In-with-text {
  color: #6e6e6e;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.sign-in-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-left: 40px;
}

.option {
  padding: 16px 8px;
  border-radius: 12px;
  border: 1px solid #dee2e9;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.03);
  width: 100%;
}

.option a {
  color: #0e285e;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.dont-have-acct,
.have-acct {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.dont-have-acct-text,
.have-acct-text {
  color: #67779a;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.sign-up,
.sign-IN a {
  color: #246bfd;
  font-size: 15px;
  font-weight: 500;
}





.form-check-input {
  border: 1px solid #67779a;
}


.dropdown-arrow {
  background-image: url("../images/dropdown-arrow.svg");
  background-repeat: no-repeat;
  background-position: 94% 50%;
}

.calender-icon {
  background-image: url("../images/calender.svg");
  background-repeat: no-repeat;
  background-position: 94% 50%;
}

/* Hide default calendar icon */
.calender-icon::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* =======================  Side Bar ============================== */

.layout {
  background: #f5f6f8;
}

.sidebar {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #dee2e9;
  border-bottom: 1px solid #dee2e9;
  height: 100vh;
  position: fixed;
}

.sidebar-mobile {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #dee2e9;
  border-bottom: 1px solid #dee2e9;
  border-bottom-right-radius: 16px;
}

.main-content {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page-content {
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.version {
  padding: 4px 8px;
}

.version h6 {
  color: #67779a;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0px;
  text-align: end;
}

.sidebar.collapsed {
  width: 65px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
}

.sidebar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-weight: bold;
  border-bottom: 1px solid #dee2e9;
  height: 72px;
}

.profile {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 16px;
  color: #0e285e;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 12px;
  border: 1px solid #dee2e9;
  background: #fafafc;
  width: 100%;
}

.sidebar .menu {
  padding: 10px;
}

.menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 0px;
  margin-bottom: 0;
}

.accdn-menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 16px;
}

.menu-item {
  width: 100%;
}

.menu-item a {
  display: flex;
  padding: 6px;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #67779a;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.offcanvas-sidebar .menu-item a {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #0e285e;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.menu-item a:hover {
  color: #0e285e;
}

.sidebar .toggle-btn {
  cursor: pointer;
  transition: transform 0.3s;
}

.collapsed .toggle-btn {
  transform: rotate(180deg);
}

.collapsed .menu a span {
  display: none;
}

.content {
  flex: 1;
  padding: 20px;
}

.menu-list .menu-item.active {
  border-radius: 12px;
  border: 1px solid #e94b50;
  background-color: #fafafc;
  display: flex;
  align-items: center;
}

.menu-list .menu-item.active span {
  color: #e94b50 !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.menu-list2 {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 0px !important;
  margin-bottom: 0 !important;
}

.menu-list2 .menu-item.active {
  border-radius: 12px;
  border: 1px solid #e94b50;
  background-color: #fafafc !important;
  display: flex;
  align-items: center;
}

.menu-list2 .menu-item.active span {
  color: #e94b50 !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.menu-list2 .menu-item.active svg path {
  stroke: #e94b50 !important;
}

.topbar-div {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.topbar-widgets {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
  justify-content: end;
}

.topbar {
  padding: 10px 24px;
  border-bottom: 1px solid #dee2e9;
  background: #ffffff;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.drip-offcanvas-div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile-sidemenu {
  border-top: 1px solid #dee2e9;
  padding: 12px 16px;
}

.notification,
.profile-menu,
.help-support {
  border-radius: 12px;
  border: 1px solid #dee2e9;
  background: #fafafc;
  padding: 11px 16px;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #0e285e;
  text-decoration: none;
  background-color: #f9d2d3 !important;
}

.drip-count {
  border-radius: 12px;
  border: 1px solid #dee2e9;
  background: #fafafc;
  padding: 11px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.topbar-search-div {
  min-width: 100%;
}

.topbar-search {
  padding: 11px 16px;
  background-image: url("../images/search.svg") !important;
  background-repeat: no-repeat !important;
  background-position: 2% center !important;
  padding-left: 40px;
  border-radius: 12px;
  border: 1px solid #dee2e9;
  background: #fafafc;
}

.topbar-widgets-text {
  color: #0e285e;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.credits {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  padding: 11px 16px;
  border: 1px solid rgba(254, 218, 44, 0.5);
  background: #fffae8;
}

.search {
  padding: 11px 16px;
  background-image: url("../images/search.svg") !important;
  background-repeat: no-repeat !important;
  background-position: 6% center !important;
  padding-left: 40px;
  border-radius: 12px;
  border: 1px solid #dee2e9;
  background: #fafafc;
}

.profile-menu {
  border-top: 1px solid #dee2e9;
}

.app-section-menu {
  border-top: 1px solid #dee2e9;
  display: flex;
  padding: 24px;
  flex-direction: column;
  gap: 16px;
}

.app-text {
  color: #0e285e;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 0;
}

.apple-store {
  border-radius: 10px;
  border: 1px solid #dee2e9;
  background: #fafafa;
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.play-store {
  border-radius: 10px;
  border: 1px solid #dee2e9;
  background: #fafafa;
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}


.add-button {
  border-radius: 12px;
  background: #e94b50;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  border: none;
  gap: 8px;
  color: #fafafc;
  font-size: 16px;
  font-weight: 500;
  min-width: 12%;
}

.add-button:hover {
  background: #ee787c;
}

.add-button:active {
  background: #e31e24;
}


.select-tag-div {
  display: flex;
  align-items: center;
  gap: 16px;
}

.table-div {
  border-radius: 24px;
  border: 1px solid #EBEDF1;
  background: #FFF;
  padding: 18px;
}
.table-head {
  display: flex;
  justify-content: end;
}
.table-div-tabs {
  display: flex;
  align-items: center;
  gap: 16px;
}

.table-search {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: end;
}

.table-heading h4 {
  color: #0e285e;
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
}

table.dataTable thead>tr>th.dt-orderable-asc:hover,
table.dataTable thead>tr>th.dt-orderable-desc:hover,
table.dataTable thead>tr>td.dt-orderable-asc:hover,
table.dataTable thead>tr>td.dt-orderable-desc:hover {
  outline: none !important;
}

.table-filter {
  display: flex;
  align-items: center;
  color: #0e285e;
  border-radius: 12px;
  border: 1px solid #dee2e9;
  background: #fff;
  padding: 12px 16px;
}

.table-filter {
  display: flex;
  align-items: center;
  color: #0e285e;
  border-radius: 12px;
  border: 1px solid #dee2e9;
  background: #fff;
  padding: 12px 16px;
}

/* Add border radius to the table head */
thead th:first-child {
  border-top-left-radius: 10px;
}

thead th:last-child {
  border-top-right-radius: 10px;
}

/* Ensure the table has separated borders */
table {
  border-collapse: separate;
  border-spacing: 0;
}

table td .form-check {
  padding-left: 22px !important;
}

.dt-layout-full {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* Keep tbody border without affecting the radius */
tbody {
  border: 1px solid #ebedf1 !important;
  border-top: none;
  border-radius: 16px !important;
}

.table-danger {
  border-color: #ebedf1 !important;
}

.table-heading th {
  background-color: #fce9e9 !important;
  text-align: center !important;
  padding: 12px !important;
  color: #0e285e !important;
  font-size: 14px;
  font-weight: 600;
}

.Table td {
  padding: 12px !important;
  text-align: center !important;
  color: #67779a !important;
  font-size: 14px;
  font-weight: 400;
}

.daterangepicker td.active {
  color: #fff !important;
}

.dt-length select {
  color: #0e285e;
  font-size: 14px;
  font-weight: 500;
  border-radius: 12px !important;
}

.dt-length label {
  color: #0e285e;
  font-size: 14px;
  font-weight: 400 !important;
  line-height: 24px;
}

.pagination {
  gap: 4px;
}

.page-link {
  padding: 8px 16px;
  color: #0e285e;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  border: none;
  background: transparent;
}

.disabled>.page-link,
.page-link.disabled {
  color: #0e285e;
  pointer-events: none;
  border-radius: 12px;
  border: none;
  background: transparent;
}

.page-link:hover {
  color: #e94b50;
  border-radius: 12px !important;
  border: 1px solid #e94b50 !important;
  background: #fce9e9 !important;
}

.page-link:focus {
  box-shadow: none !important;
}

.page-link:focus-visible {
  outline: none !important;
}

.active>.page-link,
.page-link.active {
  z-index: 3;
  color: #e94b50;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 12px;
  border: 1px solid #e94b50;
  background: #fce9e9;
}

.page-link .first {
  background-image: url("../images/arrow-down.svg") !important;
}

table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order,
table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order,
table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order,
table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order,
table.dataTable thead>tr>td.dt-orderable-asc span.dt-column-order,
table.dataTable thead>tr>td.dt-orderable-desc span.dt-column-order,
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order,
table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order {
  right: 0 !important;
}

.table-badge {
  display: flex;
  align-items: center;
  gap: 8px;
}

.badge {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  padding: 4px 8px;
  border-radius: 8px;
}

.table-action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.badge-light-success {
  border: 1px solid rgba(22, 170, 76, 0.4);
  background: rgba(183, 234, 202, 0.5);
  color: #16aa4c;
}

.badge-light-warning {
  border: 1px solid rgba(237, 192, 14, 0.4);
  background: rgba(253, 239, 182, 0.5);
  color: #edc00e;
}

.badge-light-orange {
  border: 1px solid rgba(237, 118, 14, 0.4);
  background: rgba(253, 207, 182, 0.614);
  color: #ed8c0e;
}

.badge-light-pending {
  border: 1px solid rgba(33, 97, 230, 0.4);
  background: rgba(187, 209, 254, 0.5);
  color: #2161e6;
}

.badge-light-danger {
  border: 1px solid rgba(208, 53, 53, 0.4);
  background: rgba(247, 194, 194, 0.5);
  color: #d03535;
}


.link-item {
  color: #67779a;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.active-item.active {
  color: #e94b50;
  font-size: 14px;
  font-weight: 600;
  margin-top: 2px;
}

.link-item:hover {
  color: #e94b50;
}

.breadcrumb-item+.breadcrumb-item::before {
  margin-top: 3px;
}

.drip-breadcrumb {
  margin-bottom: 0 !important;
}

.drip-modal-hdg {
  color: #0e285e;
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
}

.drip-modal-p {
  color: #67779a;
  font-size: 16px;
  font-weight: 400;
}

.drip-form-div {
  border-radius: 24px;
  border: 1px solid #dee2e9;
  background: #fafafc;
  padding: 24px;
}

.input-label {
  color: #0e285e;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  background: none !important;
}

.channel-btn {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 12px;
  background: #e94b50;
  color: #fafafc;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  gap: 8px;
}

.detail-hdg {
  color: #0e285e;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  max-width: 400px;
}

.input-text {
  padding: 10px 16px 12px 42px;
  border-radius: 12px !important;
  border: 1px solid #dee2e9 !important;
  background-image: url("../images/text-square.svg");
  background-repeat: no-repeat;
  background-position: 16px center;
  color: #67779a;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.input-text-dropdown {
  padding: 10px 16px 12px 42px;
  border-radius: 12px !important;
  border: 1px solid #dee2e9 !important;
  color: #67779a;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.input-text {
  padding: 10px 16px 12px 42px;
  border-radius: 12px !important;
  border: 1px solid #dee2e9 !important;
  background-image: url("../images/text-square.svg");
  background-repeat: no-repeat;
  background-position: 16px center;
  color: #67779a;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.input-text::placeholder {
  color: #67779a;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.drip-select {
  padding: 12px 16px 12px 42px;
  border-radius: 12px;
  border: 1px solid #dee2e9;
  color: #67779a;
  font-size: 14px;
  font-weight: 400;
  background-image: url("../images/dropdown-arrow.svg");
  background-size: 18px 18px;
}

.drip-select-div {
  position: relative;
}

.drip-select:focus {
  box-shadow: none !important;
  border-color: #e94b50 !important;
}

.drips-image {
  position: absolute;
  top: 57%;
  left: 2.5%;
}

.modal-dt-hdg {
  color: #0e285e;
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
}

.detail-list li {
  color: #67779a;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.btn-red {
  padding: 8px 16px;
  border-radius: 12px;
  background: #e94b50;
  color: #fafafc;
  font-size: 16px;
  font-weight: 500;
  border: none !important;
  min-width: 25%;
}

.btn-grey {
  padding: 8px 16px;
  border-radius: 12px;
  background-color: #DEE2E9;
  color: #0E285E;
  font-size: 16px;
  font-weight: 500;
  border: none !important;
  min-width: 25%;

}

.btn-grey:hover {
  background: #ebedf1;
}

.btn-grey:active {
  background: #b0b9cb;
}

.btn-red:hover {
  background: #ee787c;
}

.btn-red:active {
  background: #e31e24;
}

.modal-main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.tooltip .tooltip-inner {
  color: #fafafc;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 6px;
  background: #67779a;
  padding: 6px 20px;
}

.tooltip .tooltip-arrow::before {
  /* border-bottom-color: #67779A !important; */
  border-right-color: #67779a !important;
  border-left-color: #67779a !important;
  /* border-top-color: #67779A !important; */
}

.drip-select1 {
  padding: 12px 16px 12px 42px;
  border-radius: 12px;
  border: 1px solid #dee2e9;
  color: #67779a;
  font-size: 14px;
  font-weight: 400;
  background-image: url("../images/dropdown-arrow.svg");
  background-size: 18px 18px;
}

.drip-tag-div {
  position: relative;
}

.drip-select1:focus {
  box-shadow: none !important;
  border-color: #e94b50 !important;
}





.drip-event-select {
  padding: 12px 16px 12px 42px;
  border-radius: 12px;
  border: 1px solid #dee2e9;
  color: #67779a;
  font-size: 14px;
  font-weight: 400;
  background-image: url("../images/dropdown-arrow.svg");
  background-size: 18px 18px;
  width: 48%;
}

.form-check-input:checked {
  background-color: #e94b50;
  border-color: #e94b50 !important;
}


.drip-date-inp {
  display: flex;
  flex-direction: column;
}

.drip-input-date {
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid #dee2e9;
  color: #67779a;
  font-size: 14px;
  font-weight: 400;
}

.drip-input-date::-webkit-calendar-picker-indicator {
  background-image: url("../images/calendar-icon.svg");
  background-size: 18px 18px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}



.contact-sub-items {
  padding: 12px !important;
}

.accordion-button:not(.collapsed) {
  color: #0e285e !important;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  background-color: transparent !important;
  box-shadow: none !important;
}

.sidebar-accordion {
  padding: 4px;
  color: #67779a;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 12px !important;
  background-color: transparent;
}

.sidebar-mobile .sidebar-accordion {
  padding: 6px;
  color: #67779a;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 12px !important;
  background-color: transparent;
}

.sidebar-accordion:hover {
  color: #0e285e;
}

.sidebar-accordion span {
  padding-left: 8px;
}

.accordion-button::after {
  background-image: url("../images/down-arrow.svg") !important;
}

.accordion-button:focus {
  z-index: 3;
  outline: 0;
  box-shadow: none !important;
}

.sidebar-accdn {
  border: none !important;
}

.sidebar-accdn-active {
  border: 1px solid #e94b50 !important;
  border-radius: 12px !important;
  background-color: #fafafc !important;
}

.export,
.import {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #0e285e;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 12px;
  border: 1px solid #dee2e9;
  background: #fff;
  padding: 8px 16px;
}

.select-tag-text {
  color: #0e285e;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.select-tag {
  border-radius: 12px;
  border: 1px solid #dee2e9;
  color: #0e285e;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
}

.select-tag option:focus {
  background-color: red !important;
}



.filter {
  display: flex;
  padding: 16px !important;
  align-items: center;
  border-radius: 12px !important;
  border: 1px solid #dee3e6 !important;
  background: #fafbfb !important;
}

.filter-search {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #dee3e6;
  background: #fafbfb;
  background-image: url("../images/search.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 12px 12px 34px;
  gap: 8px;
  color: #768998;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.filter:hover {
  border: 1px solid #884d00 !important;
  background-color: #e28000 !important;
}

.filter:hover svg path {
  stroke: #fafbfb;
}

.filter:focus:not(:focus-visible) {
  border: 1px solid #884d00 !important;
  background-color: #e28000 !important;
  outline: 0;
}

.filter:focus:not(:focus-visible) svg path {
  stroke: #fafbfb;
}

.filter-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.d-sect {
  padding: 8px 16px 16px 16px !important;
  width: 420px;
  border-radius: 20px !important;
  border: 1px solid #dee3e6 !important;
  background: #fff !important;
}

.dropdown-header {
  color: #011b30 !important;
  font-family: "ES Rebond Grotesque TRIAL";
  font-size: 28px !important;
  font-weight: 700;
  line-height: 36px;
}

.filter-date {
  border-radius: 12px;
  border: 1px solid #dee2e9;
  background: #fff;
  color: #0e285e;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 16px;
}

.filter-date::-webkit-calendar-picker-indicator {
  background-image: url("../images/filter-calender.svg") !important;
  background-repeat: no-repeat !important;
}

.filter-offcanvas {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.filter-offcanvas .offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-offcanvas .offcanvas-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filter-acdn .accordion-body {
  padding: 12px;
}

.filter-footer-btn {
  display: flex;
  justify-content: end;
  gap: 16px;
}

.title-offcanvas {
  color: #001747;
  font-size: 22px;
  font-weight: 600;
  line-height: 36px;
}

/* tag list scrollbar */

#tagList {
  max-height: 80px;
  overflow-y: auto;
  padding-left: 2px;
}

#tagList::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#tagList::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

#tagList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #011b30;
}

/* city list scrollbar */

#cityList {
  max-height: 80px;
  overflow-y: auto;
  padding-left: 2px;
}

#cityList::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#cityList::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

#cityList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #011b30;
}

/* referenece list scrollbar */

#referenceList {
  max-height: 80px;
  overflow-y: auto;
  padding-left: 2px;
}

#referenceList::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#referenceList::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

#referenceList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #011b30;
}

.filter-acdn {
  margin-bottom: 16px;
  border-radius: 16px !important;
  border: 1px solid #ebedf1 !important;
  background: #fafafc !important;
}

.filter-acdn-btn::after {
  background-image: url("../images/down-arrow.svg") !important;
  background-position: center center;
}

.filter-acdn-btn {
  color: #0e285e;
  font-size: 14px;
  font-weight: 400;
}

.filter-acdn-btn.collapsed {
  border-radius: 12px !important;
  border: 1px solid #ebedf1 !important;
}

.filter-acdn-btn:focus {
  box-shadow: none !important;
  background-color: transparent !important;
}

.filter-acdn-btn:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none !important;
  border: 1px solid #ebedf1 !important;
  border-radius: 12px !important;
}

.filter-check {
  border-radius: 6px !important;
  border: 1px solid #011b30 !important;
}

.filter-label {
  color: #67779a !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  background: transparent !important;
}

.rank-numbers {
  color: #768998;
  font-family: "Plus Jakarta Sans", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.reset-btn {
  color: #03599f;
  text-align: right;
  font-family: "Raleway", serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.72px;
  background: none !important;
  border: none !important;
}

.form-check-input:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none !important;
}

/* ======================== upload modal ===========================  */
/* .uploadMdal-title {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.modal-hdr-div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.md-body-div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.file-upload-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.uploadMdal-title h4 {
  color: #0e285e;
  font-size: 21px;
  font-weight: 600;
  line-height: 18px;
}

.uploadMdal-title p {
  color: #67779a;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.upload-modal-body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.file-upload-div {
  border-radius: 10px;
  border: 1px dashed #0062ff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.file-upload-icon {
  display: flex;
}

.file-upload-circle3 {
  display: flex;
}

.file-upload-circle1 {
  border-radius: 57px;
  background: #fad8d8;
  padding: 8px;
}

.file-upload-circle2 {
  border-radius: 75px;
  background: #f7c4c4;
  padding: 10px;
}

.file-upload-circle3 {
  border-radius: 53px;
  border: 1px solid #e53a3a;
  padding: 10px;
}

.file-upload-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.file-upload-wrapper {
  position: relative;
  display: inline-block;
}

.file-upload-button {
  border-radius: 12px;
  border: 1px solid #e5efff;
  background-color: #f7faff;
  padding: 14px 20px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  user-select: none;
  color: #67779a;
  font-size: 14px;
  font-weight: 500;
}

.file-upload-wrapper input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.file-upload-text {
  color: #67779a;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  gap: 12px;
}

.uploadModal {
  padding: 24px;
  gap: 24px;
  border-radius: 24px !important;
}

.uploadModal .modal-footer {
  border-top: none !important;
  padding: 0px !important;
}

.uploadModal .modal-body {
  padding: 0px !important;
}

.uploadModal .modal-header {
  border-bottom: none !important;
  padding: 0px !important;
}

.file-size {
  color: #67779a;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.dowmload-file {
  color: #67779a;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.drip-footer {
  padding: 16px 80px;
}

.insert-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
} */



.add-modal {
  padding: 24px 24px 12px 24px;
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
  border-radius: 24px !important;
}

.add-modal .modal-footer {
  border-top: none !important;
  padding: 5px 5px 0px 5px !important;
}

.add-modal .modal-body {
  padding: 0px !important;
  overflow-x: hidden;
}

.add-modal .modal-header {
  border-bottom: none !important;
  margin-bottom: 8px;
  padding: 0px !important;
}

.add-modal-title {
  color: #001747;
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
}

.text-area {
  padding: 10px 16px 12px 42px;
  border-radius: 12px !important;
  border: 1px solid #dee2e9 !important;
  background-image: url("../images/text-square.svg");
  background-repeat: no-repeat;
  background-position: 16px 12px;
  color: #67779a;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.text-area::placeholder {
  color: #67779a;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

/*  Delete Modal */

.deleteModal .modal-content {
  border-radius: 24px;
  padding: 30px;
}

.deleteModal .modal-header {
  border-bottom: none !important;
}

.deleteModal .modal-footer {
  border-top: none !important;
}

.delete-modal-title {
  color: #0e285e;
  font-size: 20px;
  font-weight: 600;
}

.delete-modal-text p {
  color: #67779a;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.delete-img-div {
  display: flex;
  border-radius: 50%;
  background: #ffebe0;
  padding: 6px;
}

.delete-modal-body {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* ========================== successfully Modal ============================== */
/* .successfullyModal {
  border-radius: 24px;
}

.successfullyModal .modal-body img {
  height: 100px;
  width: 100px;
}

.successfullyModal .modal-header {
  border-bottom: none !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.successfully-title h4 {
  color: #0e285e;
  font-size: 21px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
}

.successfullyModal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.successfully-text p {
  color: #67779a;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
} */

/* setting switch */

.setting-switch {
  border: none !important;
  border-radius: 5px !important;
  padding: 2px !important;
  background-color: #dee2e9 !important;
  background-image: url("../images/Switch.svg") !important;
  height: 14px;
  width: 30px !important;
}

.setting-switch:checked {
  background-color: #e31e24 !important;
}

.form-switch {
  display: flex !important;
  justify-content: center;
}
.setting-input label {
  color: #0e285e;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}


.email-design-preview {
  display: flex;
  padding: 24px;
  flex-direction: column;
  border-right: 1px solid #ebedf1;
  border-bottom: 1px solid #ebedf1;
  border-left: 1px solid #ebedf1;
}

.step-div {
  max-width: 400px;
  margin: auto;
}

.execution-input {
  padding: 12px 16px 12px 42px;
  border-radius: 12px;
  border: 1px solid #dee2e9;
  color: #67779a;
  font-size: 14px;
  font-weight: 400;
  background-image: url("../images/calendar-icon.svg");
  background-repeat: no-repeat;
  background-position: 5% center;
  position: relative;
}

.execution-input::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.execution-time {
  padding: 12px 16px 12px 42px;
  border-radius: 12px;
  border: 1px solid #dee2e9;
  color: #67779a;
  font-size: 14px;
  font-weight: 400;
  background-image: url("../images/time-schedule.svg");
  background-repeat: no-repeat;
  background-position: 5% center;
  position: relative;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.email-input {
  padding: 12px 16px 12px 42px;
  border-radius: 12px;
  border: 1px solid #dee2e9;
  color: #67779a;
  font-size: 14px;
  font-weight: 400;
  background-image: url("../images/mail-send.svg");
  background-repeat: no-repeat;
  background-position: 4% center;
}

.email-alias {
  padding: 12px 16px 12px 42px;
  border-radius: 12px;
  border: 1px solid #dee2e9;
  color: #67779a;
  font-size: 14px;
  font-weight: 400;
  background-image: url("../images/mail-account.svg");
  background-repeat: no-repeat;
  background-position: 5% center;
}

.domain-input {
  padding: 12px 16px 12px 42px;
  border-radius: 12px;
  border: 1px solid #dee2e9;
  color: #67779a;
  font-size: 14px;
  font-weight: 400;
  background-image: url("../images/dropdown-arrow.svg");
  background-repeat: no-repeat;
  background-size: auto;
}

.variable-input {
  padding: 12px 16px 12px 16px;
  border-radius: 12px;
  border: 1px solid #dee2e9;
  color: #0e285e;
  font-size: 14px;
  font-weight: 400;
}

.sms-input {
  border-radius: 12px;
  border: 1px solid #dee2e9;
  background: #fff;
  padding: 16px;
  resize: none;
}

.sms-text-div {
  position: absolute;
  top: 25%;
  left: 1.5%;
}

.sms-place-text {
  color: #67779a;
  font-size: 14px;
  font-weight: 400;
}

.sms-fill {
  color: #e6343a;
  font-size: 14px;
  font-weight: 400;
}

.sms-div {
  position: relative;
  max-width: 100%;
}

.flash-div {
  position: absolute;
  left: 1.5%;
  bottom: 6%;
}

.messages-text {
  color: #67779a;
  font-size: 14px;
  font-weight: 500;
}

.domain-select-div {
  position: relative;
}

.time-img {
  position: absolute;
  top: 32%;
  left: 5%;
}




.email-form-label {
  color: #0e285e;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.next-btn-template {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  background: #e94b50;
  color: #fafafc;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.tnext-div {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 24px;
}


.tback-div {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 16px 0px;
}
.back-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 12px;
    border: 1px solid #dee2e9;
    background: #fafafc;
    color: #0e285e;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
.back-btn-template {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 12px;
  border: 1px solid #dee2e9;
  background: #fafafc;
  color: #0e285e;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}



.table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order:before {
  display: none;
}

.table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order:after {
  display: none;
}

.table-dropdown {
  cursor: pointer;
}

.table-dropdown-menu-item a {
  color: #0e285e;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
}

.event-booth-input {
  padding: 12px 16px 12px 42px;
  border-radius: 12px;
  border: 1px solid #dee2e9;
  color: #67779a;
  font-size: 14px;
  font-weight: 400;
  background-image: url("../images/event-booth-icon.svg");
  background-repeat: no-repeat;
  background-position: 4% center;
}

.event-location-input {
  padding: 12px 16px 12px 42px;
  border-radius: 12px;
  border: 1px solid #dee2e9;
  color: #67779a;
  font-size: 14px;
  font-weight: 400;
  background-image: url("../images/location-icon.svg");
  background-repeat: no-repeat;
  background-position: 4% center;
}



/* ============================= Dashboard ============================ */
/*
.profile-name h4 {
  color: #0e285e;
  font-size: 21px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 0;
}

.profile-img {
  height: 30px !important;
  width: 30px !important;
}

.profile-menu-item a {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 16px;
  text-decoration: none;
  color: #0e285e;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.profile-name a {
  font-size: 16px;
  font-weight: 600;
} */

.daterangepicker {
  padding: 0 20px !important;
}




/* .modal-body {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.modal-body::-webkit-scrollbar {
  width: 4px;
}

.modal-body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.modal-body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.modal-body::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
/* Universal scrollbar styling for WebKit browsers */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*===================== setting admin  ====================== */
.setting-upload-wrapper,
.update-form-wrapper {
  border-radius: 16px;
  border: 1px solid #ebedf1;
  background: #fff;
  padding: 16px;
}

.setting-section-sms {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.upload-div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.upload-input label {
  color: #0e285e;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

.setting-input input {
  color: #0e285e;
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  padding: 4px 10px;
}

.red-button {
  padding: 8px 16px;
  border-radius: 8px;
  background: #e94b50;
  color: #fafafc;
  font-size: 12px;
  font-weight: 500;
  border: none !important;
  margin-top: 31px;
  min-width: 80px;
}

.download-sheet {
  font-size: 10px;
  font-weight: 500;
}

.update-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.setting-form-buttons {
  display: flex;
  justify-content: end;
  gap: 8px;
}

.submit-btn {
  border-radius: 12px;
  background-color: #e94b50;
  color: #fafafc;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  border: none;
  min-width: 80px;
  padding: 6px 16px;
}

.cancel-btn {
  border-radius: 12px;
  background-color: #dee2e9;
  color: #0e285e;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  border: none;
  min-width: 80px;
  padding: 6px 16px;
}

.domain-select {
  padding: 12px 12px 12px 12px;
  border-radius: 12px;
  border: 1px solid #dee2e9;
  color: #67779a;
  font-size: 12px;
  font-weight: 400;
  background-image: url("../images/dropdown-arrow.svg");
  background-size: 18px 18px;
}

.customer-name img {
  height: 30px;
  width: 30px;
}

.customer-name {
  display: flex;
  align-items: center;
  gap: 8px;
}


/* Category */
.setting-section-one {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.category-div,
.subcategory-div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.category-wrapper,
.subcategory-wrapper {
  border-radius: 16px;
  border: 1px solid #ebedf1;
  background: #fff;
  padding: 16px;
}

/* tickets */


.filter-date-range {
  display: flex;
  gap: 8px;
}

.filter-date:focus-visible {
  outline: none !important;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #e94b50 !important;
}

/*
.daterangepicker td.in-range {
    background-color: #FCE9E9 !important;
} */
.applyBtn {
  border-radius: 12px;
  background-color: #e94b50;
  color: #fafafc;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  border: none;
  min-width: 80px;
  padding: 6px 16px;
}

.cancelBtn {
  border-radius: 12px;
  background-color: #dee2e9;
  color: #0e285e;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  border: none;
  min-width: 80px;
  padding: 6px 16px;
}

.applyBtn:hover {
  background: #ee787c !important;
}

.applyBtn:disabled {
  background: #ee787c !important;
}

.cancelBtn:hover {
  background: #ebedf1 !important;
}

.cancelBtn:disabled {
  background: #ebedf1 !important;
}

/* WhatsApp Instances */



/* Lead Details Modal */

/* reassign tracking history */

.reassign-tracking-history h4 {
  margin-top: 16px;
  margin-bottom: 8px;
}

.reassign-tracking-history-body {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: auto;
  gap: 8px;
}

.reassign-tracking-history-body-section1 {
  display: flex;
  gap: 8px;
}

.reassign-tracking-history-body-left img {
  width: 25px;
}

.reassign-tracking-history-body-right {
  display: flex;
  flex-direction: column;
}

.reassign-tracking-history-body-name {
  font-size: 14px;
  color: #0e285e;
  font-weight: 600;
}

.reassign-tracking-history-body-date {
  color: #67779a;
  font-size: 12px;
  font-weight: 400;
}

.reassign-tracking-history-body-note {
  color: #0e285e;
  font-size: 14px;
  font-weight: 500;
}

.reassignleadbutton {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fafafc;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 12px;
  border: 1px solid #dee2e9;
  background: #e94b50;
  padding: 8px 16px;
  justify-content: end;
}

.reassignleadbutton img {
  width: 14px;
}

.reassignleadbuttonparent {
  display: flex;
  justify-content: end;
}

.addremarkdate {
  color: #67779a;
  font-size: 12px;
  font-weight: 400;
}

/* ticket history */
.ticket-history-body-section1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ticket-history-company {
  display: flex;
  flex-direction: column;
  margin-right: 50%;
  gap: 8px;
}

.ticket-history-company-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ticket-history-customer-header {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
}

.ticket-history-customer {
  display: flex;
  justify-content: end;
  margin-left: 50%;
}

.ticket-history-body-main-customer {
  display: flex;
  justify-content: end;
}

.ticket-history-body-main-company {
  display: flex;
}

.ticket-history-body-left img {
  width: 25px;
}

.ticket-history-body-right {
  display: flex;
  flex-direction: column;
}

.ticket-history-body-right img {
  width: 25px;
}

.ticket-history-body-name {
  font-size: 14px;
  color: #0e285e;
  font-weight: 600;
}

.ticket-history-body-name {
  font-size: 14px;
  color: #0e285e;
  font-weight: 600;
}

.ticket-history-body-note {
  color: #0e285e;
  font-size: 14px;
  font-weight: 500;
  background-color: #FCE9E9;
  padding: 8px;
  border-radius: 16px;
}

.update-form-wrapper2 {
  border-radius: 16px;
  border: 1px solid #ebedf1;
  background: #fff;
  padding: 16px;
  margin-top: 16px;
}

.ticket-history-customer2 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 8px;
}

.custom-drawer-width {
  width: 33% !important;
}

.offcanvas {
  z-index: 1065;
  /* Modal is 1055, so this should be higher */
}

.offcanvas-backdrop {
  z-index: 1060;
}